<h1>Maintenance Log History</h1>

<%= link_to "Export Maintenance Log History (PDF)", maintenance_actions_path(@maintenance_action, format: 'pdf') %>
</p>  

  <% @sum = 0%>
  <% @maintenance_logs.each do |maintenance_log| %>
    <% maintenance_log.maintenance_actions.each do |maintenance_action| %>
      
    
    <ul>
      <li>Maintenance Type - <%= maintenance_action.type %></li>
      <li>Service Date - <%= maintenance_action.service_date %></li>
      <li>Mileage At Time Of Service - <%= maintenance_action.mileage %></li>
      <li>Cost - <%= number_to_currency(maintenance_action.cost) %></li>
      <%= link_to 'Show Full Detail', maintenance_action %>
    </ul>
  
    
    

  <%end%>
  <% @sum = @sum + maintenance_log.maintenance_actions.sum("cost")%>
<%end%> 
<%= "Total Cost #{number_to_currency(@sum)}"%>



