<h2>Maintenance History</h2>
<% @maintenance_logs.each do |maintenance_log| %>
   <% maintenance_log.maintenance_actions.each do |maintenance_action| %>
  

  <%case maintenance_action.type%>
  <% when "OilChange"%>
    <div>
      <p>
        <strong></strong>
        <%= maintenance_action.type %>
      </p>  
      <p>
        <strong></strong>
        <%= maintenance_action.service_date %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.mileage %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.cost %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.oil_type %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.notes %>
      </p>
    </div>
    <% when "Brake"%>
    <div>
      <p>
        <strong></strong>
        <%= maintenance_action.type %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.service_date %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.mileage %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.cost %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.brake_location %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.notes %>
      </p>
    </div>
    <% when "Rotor"%>
    <div>
      <p>
        <strong></strong>
        <%= maintenance_action.type %>
      </p>  
      <p>
        <strong></strong>
        <%= maintenance_action.service_date %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.mileage %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.cost %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.rotor_location %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.notes %>
      </p>
    </div>
    <% when "TireRotation"%>
    <div>
      <p>
        <strong></strong>
        <%= maintenance_action.type %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.service_date %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.mileage %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.cost %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.tire_location %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.notes %>
      </p>
    </div>
    <% when "TireReplacement"%>
    <div>
      <p>
        <strong></strong>
        <%= maintenance_action.type %>
      </p>  
      <p>
        <strong></strong>
        <%= maintenance_action.service_date %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.mileage %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.cost %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.tire_location %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.notes %>
      </p>
    </div>
    <% when "Alignment"%>
    <div>
      <p>
        <strong></strong>
        <%= maintenance_action.type %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.service_date %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.mileage %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.cost %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.notes %>
      </p>
    </div>
    <% when "PowerSteeringFluid"%>
    <div>
      <p>
        <strong></strong>
        <%= maintenance_action.type %>
      </p>  
      <p>
        <strong></strong>
        <%= maintenance_action.service_date %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.mileage %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.cost %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.notes %>
      </p>
    </div>
    <% when "Antifreeze"%>
    <div>
      <p>
        <strong></strong>
        <%= maintenance_action.type %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.service_date %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.mileage %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.cost %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.notes %>
      </p>
    </div>
    <% when "TransmissionFluid"%>
    <div>
      <p>
        <strong></strong>
        <%= maintenance_action.type %>
      </p>  
      <p>
        <strong></strong>
        <%= maintenance_action.service_date %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.mileage %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.cost %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.notes %>
      </p>
    </div>
    <% when "BrakeFluid"%>
    <div>
      <p>
        <strong></strong>
        <%= maintenance_action.type %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.service_date %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.mileage %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.cost %>
      </p>
      <p>
        <strong></strong>
        <%= maintenance_action.notes %>
      </p>
    </div>
    <% when "Miscellaneous"%>
    <div>
    <p>
      <strong></strong>
      <%= maintenance_action.type %>
    </p>
    <p>
      <strong></strong>
      <%= maintenance_action.service_date %>
    </p>
    <p>
      <strong></strong>
      <%= maintenance_action.mileage %>
    </p>
    <p>
      <strong></strong>
      <%= maintenance_action.cost %>
    </p>
    <p>
      <strong></strong>
      <%= maintenance_action.notes %>
    </p>
  </div>

    <%end%>
    <%end%>
  <%end%>