<ons-page>
   <%= render "shared_header/header_for_ml"%>
<div class="select-form" id="selection_form" >
    <h1 style= "text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif; ">Select Maintenance Done</h1>

    <div>
            <input class="action radio-button radio-button--material" type="checkbox" value="OilChange" >Oil Change<br>    
            <input class="action checkbox" type="checkbox" value="Brake" >Brake Change<br>  
            <input class="action checkbox" type="checkbox" value="Rotor" >Rotor<br>    
            <input class="action checkbox" type="checkbox" value="TireReplacement" >Tire Replacement<br> <input class="action checkbox" type="checkbox" value="TireRotation" >Tire Rotation<br>     
            <input class="action checkbox" type="checkbox" value="Alignment" >Alignment<br>     
            <input class="action checkbox" type="checkbox" value="BrakeFluid" >Brake Fluid<br>   
            <input class="action checkbox" type="checkbox" value="TransmissionFluid" >Transmission Fluid<br>    
            <input class="action checkbox" type="checkbox" value="PowerSteeringFluid" >Power Steering Fluid<br>  
            <input class="action checkbox" type="checkbox" value="AntiFreeze" >Anti-Freeze<br>   
            <input class="action checkbox" type="checkbox" value="Miscellaneous" >Miscellaneous<br>     
    </div>
    <div>
            <input type="button" id="go-button" value="Go" class="button" style="margin-left: 20px; margin-top: 10px; padding-right: 20px; padding-left: 20px; background-color: white; color:#3A405A; font-weight: bold;">
    

    </div>
</div>  
<div class="action-form" id="maintenance_actions">
<%=form_for  @mlog, url: vehicle_maintenance_logs_path, :html=>{:class=>"ml_form"} do |ml_form| %>
    <%=hidden_field_tag :selected_actions, "hidden"%>
    <%=hidden_field_tag :reminder, "false"%>
    <% @mlog.maintenance_actions.each do |activity| %>
        <%case activity.type%>
            <% when "OilChange"%>
                <div class="action_form-item" id="OilChange">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Oil Change</h2>
                    <%= ml_form.fields_for :oilchange, activity do |activity_field| %>
                       
                        <div>
                            <%= activity_field.label :service_date , style: "margin-left: 10px; margin-bottom: 10px;"  %><br>
                            <%= activity_field.date_field :service_date , style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea",  onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :oil_type, style: "margin-left: 10px;"   %>
                            <%= activity_field.select :oil_type, options_for_select([ "Regular", "Synthetic" ], "Regular"), style: "padding-left: 25px;" %>
                        </div><br>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px; margin-top: 10px;"   %><br>
                            <%= activity_field.text_field :cost, class: "textarea", onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :oilchange_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                        <div style="margin-left: 5%;">
                            <label class="checkbox" >
                            <%=check_box_tag :oc_reminder, class:"checkbox__input", style:"margin-left: 20%;"  %>
                            <div class="checkbox__checkmark" ></div>
                                Set a reminder?
                        </label>
                        </div>
                    <%end%>
                      
                </div>
            <% when "Brake"%>
                <div class="action_form-item" id="Brake">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Brakes</h2>
                    <%= ml_form.fields_for :brake, activity do |activity_field| %>
                    <%activity_field.hidden_field :selected, value: false %>
                        <div>
                            <%= activity_field.label :service_date, style: "margin-left: 10px; margin-bottom: 10px;"  %><br>
                            <%= activity_field.date_field :service_date, style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea",  onblur:"validate(this)",style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :brake_location, style: "margin-left: 10px;"  %>
                            <%= activity_field.select :brake_location, options_for_select([ "Front", "Rear", "All" ], "All"), class:"select-input select-input--material" %>
                        </div><br>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px;"   %><br>
                            <%= activity_field.text_field :cost, class: "textarea", onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :brake_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                    <%end%>
                </div>
            <% when "Rotor"%>
                <div class="action_form-item" id="Rotor">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Rotors</h2>
                    <%= ml_form.fields_for :rotor, activity do |activity_field| %>
                        <div>
                            <%= activity_field.label :service_date, style: "margin-left: 10px; margin-bottom: 10px;"  %><br>
                            <%= activity_field.date_field :service_date, style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea",onblur:"validate(this)",  style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :rotor_location, style: "margin-left: 10px;"  %>
                            <%= activity_field.select :rotor_location, options_for_select([ "Front", "Rear", "All" ], "All") %>
                        </div><br>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :cost, class: "textarea",  onblur:"validate(this)",style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :rotor_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                    <%end%>
                </div>
            <% when "TireReplacement"%>
                <div class="action_form-item" id="TireReplacement">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Tire Replacement</h2>
                    <%= ml_form.fields_for :tire_replacement, activity do |activity_field| %>
                        <div>
                            <%= activity_field.label :service_date, style: "margin-left: 10px; margin-bottom: 10px;"   %><br>
                            <%= activity_field.date_field :service_date, style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea", onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;"  %>
                        </div>
                        <div>
                            <%= activity_field.label :tire_location, style: "margin-left: 10px;"   %>
                            <%= activity_field.select :tire_location, options_for_select([ "Front-Left", "Front-Right", "Back-Left", "Back-Right","Front-2", "Back-2", "All" ], "All") %>
                        </div><br>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :cost, class: "textarea", onblur:"validate(this)",  style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :tire_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                    <%end%>
                </div>
            <% when "TireRotation"%>
                <div class="action_form-item" id="TireRotation">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Tire Rotations</h2>
                    <%= ml_form.fields_for :tire_rotation, activity do |activity_field| %>
                        <div>
                            <%= activity_field.label :service_date, style: "margin-left: 10px; margin-bottom: 10px;"  %><br>
                            <%= activity_field.date_field :service_date, style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea", onblur:"validate(this)",  style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :cost, class: "textarea", onblur:"validate(this)",  style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :tire_rotation_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                    <%end%>
                </div>
            <% when "Alignment"%>
               <div class="action_form-item" id="Alignment">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Alignments</h2>
                    <%= ml_form.fields_for :Alignment, activity do |activity_field| %>
                        <div>
                            <%= activity_field.label :service_date, style: "margin-left: 10px; margin-bottom: 10px;"  %><br>
                            <%= activity_field.date_field :service_date, style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea", onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :cost, class: "textarea", onblur:"validate(this)",  style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :alignment_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                    <%end%>
                </div>
            <% when "Antifreeze"%>
                <div class="action_form-item" id="AntiFreeze">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Anti Freeze</h2>
                    <%= ml_form.fields_for :antifreeze, activity do |activity_field| %>
                        <div>
                            <%= activity_field.label :service_date, style: "margin-left: 10px; margin-bottom: 10px;"  %><br>
                            <%= activity_field.date_field :service_date, style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea",  onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :cost, class: "textarea",  onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :antifreeze_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                    <%end%>
                </div>
            <% when "BrakeFluid"%>
                <div class="action_form-item" id="BrakeFluid">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Brake Fluids</h2>
                    <%= ml_form.fields_for :brakefluid, activity do |activity_field| %>
                        <div>
                            <%= activity_field.label :service_date, style: "margin-left: 10px; margin-bottom: 10px;"  %><br>
                            <%= activity_field.date_field :service_date, style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea", onblur:"validate(this)",  style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :cost, class: "textarea",  onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :brake_fluid_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                    <%end%> <!-- end do -->
                </div>
            <% when "PowerSteeringFluid"%>
                <div class="action_form-item" id="PowerSteeringFluid">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Power Steering Fluid</h2>
                    <%= ml_form.fields_for :powersteeringfluid, activity do |activity_field| %>
                        <div>
                            <%= activity_field.label :service_date, style: "margin-left: 10px; margin-bottom: 10px;"  %><br>
                            <%= activity_field.date_field :service_date, style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea", onblur:"validate(this)",  style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :cost, class: "textarea",  onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :powersteering_fluid_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                    <%end%> <!-- end do -->
                </div>
            <% when "TransmissionFluid"%>
                <div class="action_form-item" id="TransmissionFluid">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Transmission Fluid</h2>
                    <%= ml_form.fields_for :transmissionfluid, activity do |activity_field| %>
                        <div>
                            <%= activity_field.label :service_date, style: "margin-left: 10px; margin-bottom: 10px;"  %><br>
                            <%= activity_field.date_field :service_date, style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea",  onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :cost, class: "textarea", onblur:"validate(this)",  style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :transmission_fluid_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                    <%end%> <!-- end do -->
                </div>
            <% when "Miscellaneous"%>
                <div class="action_form-item" id="Miscellaneous">

                    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Miscellaneous</h2>
                    <%= ml_form.fields_for :miscellaneous, activity do |activity_field| %>
                        <div>
                            <%= activity_field.label :service_date, style: "margin-left: 10px; margin-bottom: 10px;"  %><br>
                            <%= activity_field.date_field :service_date, style: "margin-left: 10px; margin-bottom: 10px; margin-top: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :mileage, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :mileage, class: "textarea",  onblur:"validate(this)", style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                         <div>
                            <%= activity_field.label :cost, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_field :cost, class: "textarea", onblur:"validate(this)",  style: "margin-bottom: 5px; margin-left: 10px;" %>
                        </div>
                        <div>
                            <%= activity_field.label :miscellaneous_notes, style: "margin-left: 10px;"  %><br>
                            <%= activity_field.text_area :notes, class:"textarea", style: "margin-bottom: 5px; margin-left: 10px; margin-top: 10px;"%>

                        </div>
                    <%end%> <!-- end do -->
                </div>      
            <%end%> <!--end case -->
      <%end%>
        <div class = "action_form-item" id="Submit">
            <div style="display:block;">
            <h2 style = "text-align: center;">Include an image of your Invoice</h2>
            </div>
            <div  style="display:block;text-align:center;">
                <i id="img_uploaded" class="far fa-clipboard" style=" font-size: 5rem; text-align:center;"><p style="font-size:0.8rem;text-align:center;">Receipt Missing</p></i>
            </div>
            <div style="display:block;">
                <i class="fa fa-camera button" id="camera_button" style="margin:15px; background-color: white; color:#3A405A; "></i>
            </div>
            <%= ml_form.file_field :image, multiple: false,
                  direct_upload: true, accept:"image/*", capture:"camera", style:"margin:10px; font-size: 1.2rem;"%><br>
            <%= ml_form.submit class:"action button", style: "background-color: white; color:#3A405A; font-weight: bold;" %>
        </div>
<% end %>
    <div class = "control_buttons"> 

        <input type="button" id="prev_button" value="Previous" class="button"style = "margin-left: 15px; margin-top: 15px; background-color: white; color:#3A405A; font-weight: bold;">
        <input type="button" id="next_button" value="Next" class="button" style = "margin-left: 15px; margin-top: 15px; background-color: white; color:#3A405A; font-weight: bold;">
        <input type="button" id="start_button" value="Start Over" class="button" style = "margin-left: 15px; margin-top: 15px; background-color: white; color:#3A405A; font-weight: bold; display:block; clear:left;" onclick="start_over()">
        
    </div>
</div>
<div id="validation_alert">
<div  class="alert-dialog-mask"></div>
<div class="alert-dialog">
  <div class="alert-dialog-container">
    <div class="alert-dialog-title">Alert</div>

    <div class="alert-dialog-content">
        Mileage & Cost must be entered as numbers and without comma's.
    </div>

    <div class="alert-dialog-footer">
      <button id="validate_alert_button" class="alert-dialog-button alert-dialog-button--primal">OK</button>
    </div>
  </div>
</div>
</div>
</ons-page>

<style>
.control_buttons{
    overflow: auto;
}
#oc_reminder{
    display:none;
}
#prev_button, #next_button, #start_button{
    float:left;
}
 #validation_alert{
     clear: left;
     display: none;
 }
 .ml_form{
     display: none;
 }
 .action_form-item{
     display: none;

 }
#camera_button{
   
}
 #Submit{
     display: none; 
 }

 .control_buttons{
     display: none; 
 }

 .action{
     margin-bottom: 15px;
     margin-left: 15px;
 }

#maintenance_log_image{
    display: none;
}
</style>
<script>

program();

function program(){
    var selected_inputs=[];
    var ret_selected_inputs =[]
    var current_tab = 0;
    var s_actions = [];
   
    
    var oc_reminder_checkbox = document.getElementById("oc_reminder")
    oc_reminder_checkbox.addEventListener('click', function(e){
        var reminder = document.getElementById("reminder")
        console.log(e.target.checked)
           if (e.target.checked){
              reminder.value = "true"
           }else{
              reminder.value = "false"
           }

    })
    var camera_button = document.getElementById("camera_button")
    camera_button.addEventListener('click',function(e){
        var maintenance_log_image_upload = document.getElementById("maintenance_log_image")
        maintenance_log_image_upload.click();
    })

    var maintenance_log_image_input = document.getElementById("maintenance_log_image")

    maintenance_log_image_input.addEventListener('change', function(e){
    var img_uploaded = document.getElementById("img_uploaded")
    if(e.target.files.length>0){
        console.log("changing")
            img_uploaded.classList.remove("fa")
            img_uploaded.classList.remove("fa-clipboard")
            img_uploaded.children[0].innerText="Receipt is now Included"
            img_uploaded.classList.add("fas")
            img_uploaded.classList.add("fa-clipboard-check")

        }
    })
    var gobutton = document.getElementById('go-button')
        gobutton.addEventListener('click',function(e){
            var input_selection = document.getElementsByClassName('action')
            var selected_actions = document.getElementById("selected_actions")
            
            for(var i=0; i<input_selection.length; i++){
                if(input_selection[i].checked){
                    selected_inputs.push(input_selection[i])
                }
           
            }   
            
    

        if(selected_inputs.length>0){
            console.log("go " + selected_inputs.length)
            // we wanna hide formsd
            show_forms(selected_inputs)
            showtab(selected_inputs[0].value)
            hideprev()
            for(var i=0; i<selected_inputs.length; i++){
                s_actions.push(selected_inputs[i].value)
            }
            selected_inputs.push(input_selection[input_selection.length-1]) // push submit into array
        }else{
           alert("Please make a selection")
           return;
        }
        selected_actions.value = s_actions 

    })
    var next_button = document.getElementById('next_button')
        next_button.addEventListener('click', function(e){


            if(current_tab >= selected_inputs.length -1){
               
                return;
            }
            showprev()
            hidetab(selected_inputs[current_tab].value)
            current_tab = current_tab +1
            showtab(selected_inputs[current_tab].value)
            
            if(current_tab == selected_inputs.length -1){
                hidenext()

            }
            console.log ("current tab is" + current_tab)
        })

    var prev_button = document.getElementById('prev_button')
        prev_button.addEventListener('click', function(e){

            var next_button = document.getElementById("next_button")
            if( next_button.style.display == "none"){
                next_button.style.display = "block"
            }
           if (current_tab == 0){
                
                return
            }else{
                hidetab(selected_inputs[current_tab].value)
                console.log (" current tab is" + current_tab)
                current_tab = current_tab - 1 
                showtab(selected_inputs[current_tab].value)
                if(current_tab == 0){
                    hideprev()
                }
            }
             


        })
}

function show_forms(input_array){

    var selection_form = document.getElementById("selection_form")
    selection_form.style.display= "none";        
    
    // var action_form = document.getElementById("maintenance_actions")
    //     action_form.style.display= "block";
    var ml_form = document.querySelector(".ml_form")
        ml_form.style.display= "block";

     var control_buttons = document.querySelector(".control_buttons")
         control_buttons.style.display= "block";
    
    console.log("input array" + input_array.length)
    // for(var i =0; i < input_array.length; i++){
    //     console.log("showing inputs" + input_array[i].value)
    //     var showinput = document.getElementById(input_array[i].value).style.display = "block"
    // }
    
   
}
function start_over(){
    var href = window.location.href
    window.location.href = href
}
function hideprev(){
   var prev_button = document.getElementById("prev_button").style.display = "none"
}

function showprev(){
   var prev_button = document.getElementById("prev_button").style.display = "block"
}

function hidenext(){
    var next_button = document.getElementById("next_button").style.display = "none"
}

function showtab(tab){
    if(tab == "Create Maintenance log"){
        show_submit()
    }
    else{
    var tab = document.getElementById(tab).style.display = "block"
    }
}

function hidetab(tab){
    
    if(tab == "Create Maintenance log"){
        hide_submit()
        return;
    }
    if(tab != "Create Maintenance log"){
        var tab = document.getElementById(tab).style.display = "none"
        return;
    }
}

function show_submit(){
    var submit = document.getElementById("Submit").style.display = "block"
}

function hide_submit(){
    var submit = document.getElementById("Submit")
    if (submit.style.display == "block"){
        submit.style.display = "none" 
    }

}
function addSelection(field){
    var hidden_tag = document.getElementById("select")
    hidden_tag.value = field
}
var alert_button = document.querySelector("#validate_alert_button").addEventListener('click', function(e){
    var toast_alert= document.getElementById("validation_alert")
    toast_alert.style.display="none"
})
function validate(obj){
    var toast_alert= document.getElementById("validation_alert")
    if(isNaN(obj.value)){
       toast_alert.style.display="block"
    }else{
        
    }
    return
}
</script>