<ons-page>

<%= render "shared_header/header"%>

<h2 style="text-align: center; margin-top: 12px; font-family: 'Raleway', sans-serif;">Update My Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <ons-list modifier="inset">
    <ons-list-header>Email and Password</ons-list-header>
      <ons-list-item>
      <div>
        <span class="list-item__title">Email: </span><br>
        <span class="list-item__subtitle"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></span>
      </div>
      </ons-list-item>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
      
      <ons-list-item>
      <div>
        <span class="list-item__title">New Password: </span> <br>
        <span class="list-item__subtitle"><%= f.password_field :password, autocomplete: "new-password", placeholder: "********" %></span><br>
         
      <span ><i style="font-size: 10pt"> (leave blank if you don't want to change) </i></span>
      </div>
      </ons-list-item>

      <ons-list-item>
      <div>
        <span class="list-item__title">Password Confirmation: </span><br>
        <span class="list-item__subtitle"><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "********" %></span><br>
        <span><em style="font-size: 10pt">(please confirm your password) </em></span>
      </div>
      </ons-list-item>

      <ons-list-item>
      <div>
        <span class="list-item__title">Current Password: </span><br>
        <span class="list-item__subtitle"><%= f.password_field :current_password, autocomplete: "current-password", placeholder: "********" %><br>
        <span><i style="font-size: 10pt">(enter <strong>current</strong> password to confirm your changes)</i></span>
      </div>  
      </ons-list-item>
  </ons-list>
</ons-list><br>

      <div class="actions" style="text-align: center; margin-bottom: 5px;">
        <%= f.submit "Update", class: "button", style:"margin-top: 15px; background-color: white; color:#3A405A; font-weight: bold;"  %>
      </div>

<% end %>

<ons-list modifier="inset">
    <ons-list-header>Cancel my account</ons-list-header>
      <ons-list-item>
        <span class="list-item__title">Missing all the clutter? Sorry to see you go. </span><span><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button--quiet", style:"color: #3A405A;" %></span><br>
    </ons-list-item>
</ons-list><br>

      
      
