<ons-page>
    <div class="toolbar">
      <div class="toolbar__left">
        <span class="toolbar-button toolbar-button--outline">
          <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
        </span>
      </div>

    <div class="toolbar__center">
        User's GloveBox
    </div>

    <div class="toolbar__right">
      <span class="toolbar-button toolbar-button--outline">Button</span>
  </div>
</div>
<div class="card">
    <section>
        <%if !current_user.avatar.attached?%>
            <%= image_tag(asset_path("avatar_default.png"), height:"64", width:"64")%>
        <%else%>
            <%= image_tag(rails_blob_path(current_user.avatar, disposition:"attachment"))%>
        <%end%>
    </section>
    <section>
        <h3><%=current_user.first_name.titleize%></h3>
    </section>
</div>
<div class="card">
<p> Member since:  <%=current_user.created_at.to_date%></p>
<p> Number of Vehicles: <%= @vehicles.count%></p>
</div>


<div class="card">
<p> Change Registration and Password</p>
<p><%= link_to  "Edit Information",edit_user_registration_path, class:"button" %></p>

</div>
</ons-page>