<h2>Change your password</h2>

<ons-page>
  <ons-toolbar>
    <div class="center">GloveBox</div>
  </ons-toolbar>
    <h2 style="text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif;">Welcome to GloveBox</h2>
    <div style="text-align: center; margin-top: 80px;">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          
        
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: 'New Password',style:"text-align: center; margin-bottom: 10px;font-size: 1.5rem;", class: 'text-input text-input--underbar' %>
        </div>

        <div class="field">
          
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm New Password',style:"text-align: center; margin-bottom: 25px;font-size: 1.5rem;", class: 'text-input text-input--underbar' %>
        </div>

        <div class="actions">
          <%= f.submit "Change my password", class: "button" %>
        </div>
      <% end %>

    </div>
</ons-page>
