<ons-page>
 <ons-toolbar>
    <div class="toolbar__left" style="width: 33%;">
      <ons-toolbar-button><%= link_to 'Home', vehicles_path, class:"button--quiet" %></ons-toolbar-button>
    </div>
    <div class="toolbar__center" >
        <%= "#{current_user.first_name}'s GloveBox" %>
    </div>
    <div class="toolbar__right" style="width: 33%;">
      <ons-toolbar-button><%= link_to 'My Account', vehicles_path, class:"button--quiet" %></ons-toolbar-button>
    </div>
  </ons-toolbar>

<% if notice %>
<p class="alert alert-primary"><%= notice %></p>
<% end %>
 
<h2 style="text-align: center; margin-top: 10px; font-family: 'Raleway', sans-serif;">mY GloveBox</h2>

<%@vehicles.each do |vehicle| %>
    <ons-card style="max-width: 100%">
    <%= image_tag(asset_path("vehicle_default2.jpeg"),  width:"100%", id:"vehicle-img")%>
    <div class="title">
      <%= link_to vehicle.name, vehicle_path(vehicle), class:"button--quiet" %>
    </div>
    <div class="content">
      <ons-list>
        <ons-row>
          <ons-col width="25%" style="font-family: 'Raleway', sans-serif;" ><%= vehicle.year %></ons-col>
          <ons-col width="25%" style="font-family: 'Raleway', sans-serif;"><%= vehicle.make %></ons-col>
          <ons-col width="25%" style="font-family: 'Raleway', sans-serif;"><%= vehicle.model %></ons-col>
          <ons-col width="25%" style="font-family: 'Raleway', sans-serif;"><%= vehicle.color %></ons-col>
        </ons-row>
      </ons-list>
      <br>     
      <ons-list>  
        <ons-row>
          <ons-col width="30%" style="font-family: 'Raleway', sans-serif;"><%= vehicle.license_plate %></ons-col> 
          <ons-col width="45%" style="font-family: 'Raleway', sans-serif;"><%= vehicle.vin %></ons-col>
          <ons-col width="25%"><i class="far fa-question-circle" width="25%" 
            onclick="ons.notification.toast('The VIN (vehicle identification number) can often be found on the lower-left corner of the dashboard, in front of the steering wheel. You can read the number by looking through the windshield.', { timeout: 3000})"></i>
          </ons-col>
        </ons-row>
      </ons-list>
    </div>
  </ons-card>

<%end%>

<div class="actions" style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
      <%= link_to 'Add a Vehicle', new_vehicle_path, class: "button" %><br><br><br>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "button") %>
</div>

<div id="form--new"></div>

<div id="vehicle-created"></div>

</ons-page>