<ons-navigator id="appNavigator" swipeable swipe-target-width="80px">
  <ons-page>
    <ons-splitter id="appSplitter">
      <ons-splitter-side id="sidemenu" page="sidemenu_html" swipeable side="right" collapse="" width="260px"></ons-splitter-side>
      <ons-splitter-content page="tabbar.html"></ons-splitter-content>
    </ons-splitter>
  </ons-page>
</ons-navigator>

<template id="tabbar.html">
  <ons-page id="tabbar-page">
    <ons-toolbar>
      <div class="center"><%= "#{current_user.first_name}'s GloveBox" %></div>
      <div class="right">
        <ons-toolbar-button onclick="fn.toggleMenu()">
          <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-tabbar swipeable id="appTabbar" position="auto">
      <ons-tab label="Home" icon="ion-home" page="home.html" active></ons-tab>
      <ons-tab label="Add Maintenance" icon="ion-edit" page="forms.html"></ons-tab>
      <ons-tab label="View Log" icon="ion-film-marker" page="animations.html"></ons-tab>
    </ons-tabbar>

    <script>
      ons.getScriptPage().addEventListener('prechange', function(event) {
        if (event.target.matches('#appTabbar')) {
          event.currentTarget.querySelector('ons-toolbar .center').innerHTML = event.tabItem.getAttribute('label');
        }
      });
    </script>
  </ons-page>
</template>

<template id="home.html">
  <ons-page>
    <p class="intro">
      Welcome to GloveBox! The place where you can maintain your maintenance. <br><br>
    </p>

    <% @vehicles.each do |vehicle| %>

    <ons-card onclick="fn.pushPage({'id': 'vehicle', 'title': 'vehicle.name'})">
      <div class="title"><%= vehicle.name %></div>
      <img src="https://cdn.pixabay.com/photo/2012/05/29/00/43/car-49278_1280.jpg" alt="car pic" style="max-width:100%;height:auto;">
      <div><%= vehicle.year %>   <%= vehicle.make %> <%= vehicle.model %>   |   <%= "License Plate:"  %>  <%= vehicle.license_plate %></div> 
      
    </ons-card>

    <style>
      .intro {
        text-align: center;
        padding: 0 20px;
        margin-top: 40px;
      }

      ons-card {
        cursor: pointer;
        color: #333;
      }

      .card__title,
      .card--material__title {
        font-size: 20px;
      }
    </style>
  </ons-page>
  <% end %>
</template>

<template id="forms.html">
  <ons-page id="forms-page">
    <ons-list>

<%# <% @vehicles.each do |vehicle| %> 

  <%# <ons-card>
    <img src="https://cdn.pixabay.com/photo/2012/05/29/00/43/car-49278_1280.jpg" alt="car pic" style="max-width:100%;height:auto;">
    <div class="title">
      <%= vehicle.name %>
    <%# </div> %>
    <%# <div class="content">
      <div>
        <ons-button><i class="fas fa-car"></i></ons-button>
        <ons-button><i class="far fa-file-alt"></i></ons-button>
      </div>
      <ons-list>
        <ons-list-header>Bindings</ons-list-header>
        <ons-list-item><%= vehicle.license_plate %></ons-list-item>
        <%# <ons-list-item><%= vehicle.color %></ons-list-item>
        <%# <ons-list-item>React</ons-list-item>
      </ons-list>
    </div> %>
  </ons-card> 
  <%# <% end %> 
</ons-page>




   

 <%# <div style="height: 100px; padding: 1px 0 0 0;"> %>
  <%# <div class="card"> %>
    <%# <div class="card__content"><%= vehicle.name %></div> %>
    <%# <img class="list-item__thumbnail" src="https://cdn.pixabay.com/photo/2012/05/29/00/43/car-49278_1280.jpg"> %>
  <%# </div> %>
    <%# <div class="card_content"><%= vehicle.license_plate %></div> %>
    <%# <div class="card_content"><%= vehicle.color %></div> %>
  <%# </div> %>


<div>
<%= link_to  "new vehicle",new_vehicle_path, class: 'zmdi zmdi-plus button' %>
<%= link_to  "sign out", destroy_user_session_path, :method => :delete, class: 'button' %>
</div>

</ons-page>