<ons-navigator id="myNavigator">
  <ons-page>
  <ons-toolbar>
    <div class="left">
        <ons-icon icon="fa-car" style="padding: 5px"></ons-icon>
    </div>
    <div class="toolbar__center">
        <%= "#{current_user.first_name}'s GloveBox" %>
    </div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

    <ons-tabbar position="auto">
      <ons-tab page="index.html" active icon="ion-home" label="Home"></ons-tab>
      <ons-tab icon="md-plus" label="Add Vehicle" page="new.html"></ons-tab>
      <ons-tab icon="ion-ios-cog" label="Maintenance" page="/maintenance_logs/new.html"></ons-tab>
    </ons-tabbar>
  </ons-page>
</ons-navigator>

<template id="index.html">
  <ons-page>
    <p class="intro" style="text-align: center">
      Welcome to GloveBox!<br>
    </p>
    <p class="intro" style="text-align: center">
      <em>The place where you can maintain your maintenance. </em><br><br>
    </p>
    
<%@vehicles.each do |vehicle| %>
    <ons-card>
    <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
    <div class="title">
      <%= vehicle.name %>
    </div>
    <div class="content">
      <ons-list>
        <ons-list-header></ons-list-header>
        <ons-row>
          <ons-col width="25%"><%= vehicle.year %></ons-col>
          <ons-col width="25%"><%= vehicle.make %></ons-col>
          <ons-col width="25%"><%= vehicle.model %></ons-col>
          <ons-col width="25%"><%= vehicle.color %></ons-col>
        </ons-row>
      </ons-list>
      <ons-list>
      <br>
        <ons-row>
          <ons-col width="30%"><%= vehicle.license_plate %></ons-col>
          <ons-col width="45%"><%= vehicle.vin %></ons-col>
          <ons-col width="25%"><i class="far fa-question-circle" width="25%" 
            onclick="ons.notification.toast('The VIN (vehicle identification number) can often be found on the lower-left corner of the dashboard, in front of the steering wheel. You can read the number by looking through the windshield.', { timeout: 3000})"></i></ons-col>
        </ons-row>
      </ons-list>
    </div>
  </ons-card>
<%end%>
    <div style="text-align: center">
      <br>
      <ons-button class="button button--material" onclick="myNavigator.pushPage('new.html')">
        Add a Vehcile
      </ons-button>
    </div>
  </ons-page>
</template>



<template id="new.html">
  <ons-page id="new">
  <br>
  <%= form_for @vehicle, local: true, url: vehicles_path do |f| %>
    <ons-list modifier="inset">
      <ons-list-header>Vehcile Information</ons-list-header>
      <ons-list-item modifier="longdivider"><%= f.text_field :name, autocomplete: "name", class: 'text-input', placeholder: 'Vehicle Nickname' %></ons-list-item>
      <ons-list-item modifier="longdivider"><%= f.text_field :color, autocomplete: "color", class: 'text-input', placeholder: 'Color' %></ons-list-item>
    </ons-list>
    <br>
    <ons-list modifier="inset">
      <ons-list-item modifier="longdivider"><%= f.text_field :make, autocomplete: "make", class: 'text-input', placeholder: 'Make' %></ons-list-item>
      <ons-list-item modifier="longdivider"><%= f.text_field :model, autocomplete: "model", class: 'text-input', placeholder: 'Model' %></ons-list-item>
      <ons-list-item modifier="longdivider"><%= f.text_field :year, autocomplete: "year", class: 'text-input', placeholder: 'Year' %></ons-list-item>
    </ons-list>
    <br>
    <ons-list modifier="inset">
      <ons-list-item modifier="longdivider"><%= f.text_field :vin, autocomplete: "vin", class: 'text-input', placeholder: 'VIN' %></ons-list-item>
      <ons-list-item modifier="longdivider"><%= f.text_field :license_plate, autocomplete: "license_plate", class: 'text-input', placeholder: 'License Plate #' %></ons-list-item>
      <ons-list-item modifier="longdivider"><%= f.text_field :inspection, autocomplete: "inspection", class: 'text-input', placeholder: 'Date of last Inspection' %></ons-list-item>
    </ons-list>
        <%= f.submit%>
    <% end %>
 

    <div style="text-align: center">
      <br>
      <ons-button :preview_button class="button button--material" onclick="myNavigator.pushPage('show.html')">
        Preview
      </ons-button>
    </div>
  </ons-page>
</template>

<template id="show.html">
  <ons-page id="show">
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Back</ons-back-button>
      </div>
    </ons-toolbar>

    <ons-card>
    <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
    <div class="title">
      <%= @vehicle.name %>
    </div>
    <div class="content">
      <ons-list>
        <ons-list-header></ons-list-header>
        <ons-list-item><%= @vehicle.name %></ons-list-item>
        <ons-list-item><%= @vehicle.make %></ons-list-item>
        <ons-list-item><%= @vehicle.model %></ons-list-item>
        <ons-list-item><%= @vehicle.year %></ons-list-item>
        <ons-list-item><%= @vehicle.color %></ons-list-item>
        <ons-list-item><%= @vehicle.license_plate %></ons-list-item>
        <ons-list-item><%= @vehicle.vin %></ons-list-item>    
      </ons-list>
    </div>
  </ons-card>

    <div style="text-align: center">
      <br>
      <ons-button class="button button--material" id='submit_button' onclick="myNavigator.pushPage('index.html')" >
        SUBMIT
      </ons-button>
    </div>

  </ons-page>
</template>

<template id="/maintenance_logs/new.html">
  <ons-page>
    <h2>this page should link to maintenance_logs</h2>
  </ons-page>
</template>


<style>
 #form-submit{
   
 }
</style>


<script>
window.fn ={}
window.fn.data = null
window.fn.action = null
window.fn.method = null
window.fn.token = null
window.fn.addVehicle = function(){

preview()
}
<<<<<<< HEAD

window.fn.send = function(){
  var xhr = new XMLHttpRequest();
 
  xhr.open (fn.method, fn.action, true);
  xhr.setRequestHeader('x-csrf-token', fn.token);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.send (fn.data);
 
  
=======
document.addEventListener('init', function(event) {
  var page = event.target;

  if (page.id === 'page1') {
    page.querySelector('#push-button').onclick = function() {
      document.querySelector('#myNavigator').pushPage('page2.html', {data: {title: 'Page 2'}});
    };
  } else if (page.id === 'page2') {
    page.querySelector('ons-toolbar .center').innerHTML = page.data.title;
  }
});

function submit(){
    var sql = "INSERT INTO vehicles (name, year, make, model, vin, license_plate, tire_psi, inspection, user_id, color)";
>>>>>>> 1328af6b7a741a94117492753d7f956a859b7f87
}
myNavigator.addEventListener("prepush", function(e){
  
    if(e.navigator.pages.length==2){
      fn.send()
    }
   
})
  myNavigator.addEventListener("postpush", function(e){
   console.log("post" +e.navigator.pages.length)
  if(e.navigator.pages.length == 2){
    var vehicle = document.getElementById("new_vehicle")
    var name = vehicle.vehicle_name.value
    var color  =  vehicle.vehicle_color.value 
    var make = vehicle.vehicle_make.value
    var model = vehicle.vehicle_model.value
    var year  =  vehicle.vehicle_year.value
    var vin  =  vehicle.vehicle_vin.value
    var license_plate  =  vehicle.vehicle_license_plate.value
    var inspection  =  vehicle.vehicle_inspection.value
    var token = vehicle.authenticity_token.value
    
    var jsonData = {
        "vehicle":{
            "name": name,
            "color": color, 
            "make":  make,
            "model":  model,
            "year": year,
            "vin": vin,
            "license_plate": license_plate,
            "inspection": inspection
        }
    }
  window.fn.data = JSON.stringify(jsonData);
  window.fn.method = vehicle.method
  window.fn.action = vehicle.action
  window.fn.token = token
  }
   
})
myNavigator.addEventListener("show", function(e){
   
 
   console.log("nav" + event.target.id)
   if(event.target.id == "new"){
          alert("New")
        }
})




// document.addEventListener('init', function(event) {
//   var page = event.target;

//   if (page.id === 'page1') {
//     page.querySelector('#push-button').onclick = function() {
//       document.querySelector('#myNavigator').pushPage('page2.html');
//     };
//   } else if (page.id === 'page2') {
//     page.querySelector('ons-toolbar .center').innerHTML = page.data.title;
//   }
// });
// ons.ready(function(){
//     document.addEventListener("show", function(event){
//         console.log("ons-ready" + event.target.id)
//         if(event.target.id == "new"){
//           alert("New")
//         }
//     })
//   })
//{"name"=>"", "color"=>"", "make"=>"", "model"=>"", "year"=>"", "vin"=>"", "license_plate"=>"", "inspection"=>""}, "controller"=>"vehicles", "action"=>"create"} permitted: false>

function validateFields(){
  

}
</script>