<ons-page>
 <%= render "shared_header/header"%>

<% if notice %>
<p class="alert alert-primary"><%= notice %></p>
<% end %>

<h2 style="text-align: center; margin-top: 10px; font-family: 'Raleway', sans-serif;"><%="#{@vehicle.name.capitalize}"%></h2>


<ons-card style="max-width: 100%">
    <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
    <div class="title">
      <%= link_to @vehicle.name.capitalize, vehicle_path(@vehicle),  class:"button--quiet", style:"font-weight: bold; font-size: 1.5rem;" %>
    </div>
    <div class="content">
      <ons-list>
        <ons-row style=" margin-bottom: 20px;">
          <ons-col width="100%" style="font-size:1.2rem;">Year - <%= @vehicle.year %></ons-col>
        </ons-row>
      </ons-list>
      <ons-list>
        <ons-row style=" margin-bottom: 15px;">
          <ons-col width="100%" style="font-size:1.2rem;">Year - <%= @vehicle.make.capitalize %></ons-col>
        </ons-row>
      </ons-list>
      <ons-list>
        <ons-row style=" margin-bottom: 15px;">
          <ons-col width="100%" style="font-size:1.2rem;"> Model - <%= @vehicle.model.capitalize %></ons-col>
        </ons-row>
      </ons-list>
      <ons-list>
        <ons-row style=" margin-bottom: 15px;">
          <ons-col width="100%" style="font-size:1.2rem;"> Color - <%= @vehicle.color.capitalize %></ons-col>
        </ons-row>
      </ons-list>
      <ons-list>
        <ons-row style=" margin-bottom: 15px;">
          <ons-col width="100%" style="font-size:1.2rem;"> License Plate - <%= @vehicle.license_plate %></ons-col>
        </ons-row>
      </ons-list>
      <ons-list>
        <ons-row style=" margin-bottom: 15px;">
          <ons-col width="100%" style="font-size:1.2rem;"> VIN Number <i class="far fa-question-circle" style= font-size:0.8rem;
            onclick="ons.notification.toast('The VIN (vehicle identification number) can often be found on the lower-left corner of the dashboard, in front of the steering wheel. You can read the number by looking through the windshield.', { timeout: 3000})"></i> - <%= @vehicle.vin %></ons-col>
        </ons-row>
      </ons-list>
      

    </div>
  </ons-card>

  <div class="actions" style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
      <%= link_to 'Edit', edit_vehicle_path, class: "button" %>
      <%= link_to 'Add Log', new_vehicle_path, class: "button" %>
      <%= link_to "Delete", @vehicle, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
</div>





