<ons-page>
  <ons-toolbar>
    <div class="left">
    <ons-toolbar-button><%= link_to 'Back', url_for(:back) %></ons-toolbar-button>
      
    </div>
    <div class="center">GloveBox</div>
  </ons-toolbar>

<% if notice %>
<p class="alert alert-primary"><%= notice %></p>
<% end %>

<h2 style="text-align: center; margin-top: 10px; font-family: 'Raleway', sans-serif;">mY GloveBox</h2>


<ons-card style="max-width: 100%">
    <img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI" style="width: 100%">
    <div class="title">
      <%= link_to @vehicle.name, vehicle_path(@vehicle) %>
    </div>
    <div class="content">
      <ons-list>
        <ons-list-header></ons-list-header>
        <ons-row>
          <ons-col width="25%"><%= @vehicle.year %></ons-col>
          <ons-col width="25%"><%= @vehicle.make %></ons-col>
          <ons-col width="25%"><%= @vehicle.model %></ons-col>
          <ons-col width="25%"><%= @vehicle.color %></ons-col>
        </ons-row>
      </ons-list>
      <ons-list>
      <br>
        <ons-row>
          <ons-col width="30%"><%= @vehicle.license_plate %></ons-col>
          <ons-col width="45%"><%= @vehicle.vin %></ons-col>
          <ons-col width="25%"><i class="far fa-question-circle" width="25%" 
            onclick="ons.notification.toast('The VIN (vehicle identification number) can often be found on the lower-left corner of the dashboard, in front of the steering wheel. You can read the number by looking through the windshield.', { timeout: 3000})"></i></ons-col>
        </ons-row>
      </ons-list>
    </div>
  </ons-card>

  <div class="actions" style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
      <%= link_to 'Edit', edit_vehicle_path, class: "button" %>
      <%= link_to 'View Maintenance Log History', vehicle_maintenance_logs_path(@vehicle.id), class: "button" %>
      <%= link_to 'Add Maintenance Entry', new_vehicle_maintenance_log_path(@vehicle.id), class: "button" %>
      <%= link_to "Delete", @vehicle, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
</div>





