<ons-page>
  <ons-toolbar>
    <div class="left">
    <ons-toolbar-button><%= link_to 'Back', url_for(:back), class: "button--quiet" %></ons-toolbar-button>
      
    </div>
    <div class="center">GloveBox</div>
  </ons-toolbar>

<% if notice %>
<p class="alert alert-primary"><%= notice %></p>
<% end %>

<h2 style="text-align: center; margin-top: 10px; font-family: 'Raleway', sans-serif;">mY GloveBox</h2>


<ons-card style="max-width: 100%">
    <%= image_tag(asset_path("vehicle_default2.jpeg"),  width:"100%", id:"vehicle-img")%>
    <div class="title">
      <%= "#{@vehicle.name}" %>
    </div>
    <div class="content">
      <ons-list>
        <ons-row>
          <ons-col width="25%" style="font-family: 'Raleway', sans-serif;" ><%= @vehicle.year %></ons-col>
          <ons-col width="25%" style="font-family: 'Raleway', sans-serif;"><%= @vehicle.make %></ons-col>
          <ons-col width="25%" style="font-family: 'Raleway', sans-serif;"><%= @vehicle.model %></ons-col>
          <ons-col width="25%" style="font-family: 'Raleway', sans-serif;"><%= @vehicle.color %></ons-col>
        </ons-row>
      </ons-list>
      <br>     
      <ons-list>  
        <ons-row>
          <ons-col width="30%" style="font-family: 'Raleway', sans-serif;"><%= @vehicle.license_plate %></ons-col> 
          <ons-col width="45%" style="font-family: 'Raleway', sans-serif;"><%= @vehicle.vin %></ons-col>
          <ons-col width="25%"><i class="far fa-question-circle" width="25%" 
            onclick="ons.notification.toast('The VIN (vehicle identification number) can often be found on the lower-left corner of the dashboard, in front of the steering wheel. You can read the number by looking through the windshield.', { timeout: 3000})"></i>
          </ons-col>
        </ons-row>
      </ons-list>
    </div>
  </ons-card>

  <div class="actions" style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
      <%= link_to 'Edit', edit_vehicle_path, class: "button" %>
      <%= link_to 'Add Log', new_vehicle_path, class: "button" %>
      <%= link_to "Delete", @vehicle, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
</div>





