<ons-page>
  <ons-toolbar style="width: 100%;">
  
    <div class="toolbar__left" style="width: 33%;">
      <ons-toolbar-button><%= link_to 'Home', vehicles_path, class:"button--quiet" %></ons-toolbar-button>
    </div>
    <div class="toolbar__center" style="width: 33%;">
        <%="#{@vehicle.name.capitalize}" %>
    </div>
    <div class="toolbar__right" style="width: 33%;">
      <ons-toolbar-button style="font-size: 8px;"><%= link_to 'My Account', vehicles_path, class:"button--quiet" %></ons-toolbar-button>
    </div>
   
  </ons-toolbar>
<h2 style= "text-align: center; margin-top: 30px; font-family: 'Raleway', sans-serif; "> <%=@maintenance_action.type %></h2>



  <%case @maintenance_action.type%>
  <% when "OilChange"%>
  
  <ul class="list"> 
      <li class="list-item list-item__center" style="background-color: #EFEFF5;"> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li class="list-item list-item__center"  style="background-color: #EFEFF5;"> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li class="list-item list-item__center"  style="background-color: #EFEFF5;"> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li class="list-item list-item__center"  style="background-color: #EFEFF5;"> Oil Type - <%= @maintenance_action.oil_type %></li>
      <li class="list-item list-item__center"  style="background-color: #EFEFF5;"> Notes - <%= @maintenance_action.notes %></li>
  </ul>

  <% when "Brake"%>
  
  <ul>
      <li> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li> Brake Location - <%= @maintenance_action.brake_location %></li>
      <li> Notes - <%= @maintenance_action.notes %></li>
  </ul>

  <% when "Rotor"%>
  
  <ul>
      <li> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li> Rotor Location - <%= @maintenance_action.rotor_location %></li>
      <li> Notes - <%= @maintenance_action.notes %></li>
  </ul>

  <% when "TireReplacement"%>
  
  <ul>
      <li> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li> Tire Location - <%= @maintenance_action.tire_location %></li>
      <li> Notes - <%= @maintenance_action.notes %></li>
  </ul>

  <% when "TireRotation"%>
  
  <ul>
      <li> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li> Notes - <%= @maintenance_action.notes %></li>
  </ul>

  <% when "Alignment"%>
  
  <ul>
      <li> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li> Notes - <%= @maintenance_action.notes %></li>
  </ul>

  <% when "BrakeFluid"%>
  
  <ul>
      <li> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li> Notes - <%= @maintenance_action.notes %></li>
  </ul>

  <% when "TransmissionFluid"%>
  
  <ul>
      <li> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li> Notes - <%= @maintenance_action.notes %></li>
  </ul>

  <% when "PowerSteeringFluid"%>
  
  <ul>
      <li> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li> Notes - <%= @maintenance_action.notes %></li>
  </ul>
  
  <% when "Antifreeze"%>
  
  <ul>
      <li> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li> Notes - <%= @maintenance_action.notes %></li>
  </ul>
  
  <% when "Miscellaneous"%>
  
  <ul>
      <li> Service Date - <%= @maintenance_action.service_date %></td></li>
      <li> Mileage At Time Of Service - <%= @maintenance_action.mileage %></li>
      <li> Cost - <%= number_to_currency(@maintenance_action.cost) %></li>
      <li> Notes - <%= @maintenance_action.notes %></li>
  </ul>
  


    
  <%end%>
 
  <%= link_to 'edit', edit_maintenance_action_path %>
</ons-page>